* {
  text-indent: 1.0em;
}

.header {
  text-align: center;
  color: purple;
  font-family: mason-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.parent {
  font-size: 14pt;
  text-align: center;
}

.child-content {
  font-size: 0.5 em;
  text-align: left;
}

@font-face {
font-family: 'harry-potter';
src: url('../Fonts/HARRYP_.TTF') format('truetype');
font-weight: 700 ;
font-style: normal ;
}
