
body {
  font-family: commuters-sans, sans-serif;
  font-style: italic;
  font-weight: 300;
  /* background-color: rgb(0,0,0,0.99); */
  position: absolute;
}

.title {
  background-color: rgb(250,250,250)
  padding: 10%;
}

#letsgo {
  color: rgb(247,245,0)
}

#perfectjob {                /*title + perfect job = pink text and video iframe */
  color: rgb(255,52,255)
}

.sunsetorange {
  background-color: rgb(137,219,255)
    padding: 10%;
}


.sun {
  /* Image of sun */
}

.palmtree {
  /* Image of island */
}


.islandwater {
  background-color: rgb(88,217,229)
  padding: 10%;
}
