
body *{
  font-family: commuters-sans, sans-serif;
  font-style: italic;
  font-weight: 300;
  background-color: rgb(0,0,0);
  position: absolute;
}

.text {
  background-color: rgb(88,2017,229)
  
}

#text-1 {
  color: rgb(247,255,0)
}

#text-2 {
  color: rgb(255,52,255)
}

.sun {}


.sunsetorange {
  background-color: rgb(88,2017,229)
}

.islandwater {
  background-color: rgb(88,2017,229)
  padding: 30%;
}
